<%= render "shared/second-header" %>
<div class="room-header">
</div>
  <div class="chat-page">
    <div class="messages" id ='messages'>
      <%= render  @messages %>
    </div>
    <div class="form-group w-100">
      <input type="text" class="form-control w-75" data-behavior="room_speaker">
    </div>
    <footer class="room-footer">
      <%= link_to image_tag("white-logo.png", class:"logo-white"), "#" %>
      <p>© ConneQt</p>
    </footer>
  </div>


