<%= render "shared/second-header" %>
<div id ='messages'>
  <%= render  @messages %>
</div>
<form>
  <label>Say something</label><br>
  <input text="text" class="inputform" data-behavior="room_speaker">
</form>

<%= render  "shared/second-footer" %>
