<header class="top-page-header">
    <nav class="navbar">
      <%= link_to image_tag("logo.png", class:"header-logo ml-4 w-100"), "/" %>

      <div class="header-list">
        <ul class="nav">
          <li class="nav-item">
            <%= link_to 'ABOUT', page_path('about'), class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'チューター募集！', "#", class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to  "チューターログイン", "#", class:"nav-link "%>
          </li>
        </ul>
      </div>
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="login-button mr-5">
          <button type="button" class="btn btn-outline-light btn-md ">ログイン</button>
        </div>
        <div class="sign-up-button mr-4">
          <button type="button" class="btn btn-outline-light btn-md">新規登録</button>
        </div>
      </div>
    </nav>
</header>